@page
@using Microsoft.AspNetCore.Identity
@using WebAppTests.Data.Identity
@inject SignInManager<ApplicationIdentityUser> SignInManager
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (SignInManager.IsSignedIn(User))
{
    <span>Logged in</span>
    <br />
    <br />
    <form method="post" action="">
        <b>Role : </b>
        <input type="text" name="RoleName"/>
        <button type="submit" class="btn btn-lg btn-primary" asp-page-handler="NewRole">Добавить новую роль</button>
        <button type="submit" class="btn btn-lg btn-warning" asp-page-handler="AddRole">Добавить роль мне</button>
        <button type="submit" class="btn btn-lg btn-danger" asp-page-handler="RemoveRole">Удалить у меня роль</button>
    </form>
}
else
{
    <span>Not logged in</span>
}
