@page
@model WebAppDiplomTST.Pages.Tests.AddQuestionModel
@{
    ViewData["Title"] = "Создание теста";
}
@using Microsoft.AspNetCore.Identity
@using WebAppDiplomTST.Data.Identity
@using WebAppDiplomTST.Data.Tests
@using Microsoft.AspNetCore.Mvc.Rendering

@inject SignInManager<ApplicationUser> SignlnManager

@if (SignlnManager.IsSignedIn(User))
{
    <h1>Создание вопросов - Вопрос номер <span id="questionIndex">1</span></h1>
    <form method="post" id="questionForm">
        <div class="form-container">
            <label for="questionText">Текст вопроса:</label>
            <input type="text" id="questionText" name="" required>
        </div>
        <div id="answersContainer" class="form-container">
            <div class="answer">
                <label asp-for="Question.Text">новый Ответ 1:</label>
                <input type="text" asp-for="Question.Text" class="form-control" />
                <span asp-validation-for="Question.Text" class="text-danger"></span>
                <label for="answer1">старый Ответ 1:</label>
                <input type="text" id="answer1" name="Question.Answers[0].Text" required>
                <input type="checkbox" id="correct1" name="Question.Answers[0].IsCorrect">
                <label for="correct1">Правильный ответ</label>
            </div>
        </div>


        <button class="btn btn-primary" type="button" onclick="addAnswer()">Добавить ответ</button>
        <button class="btn btn-primary" type="submit" onclick="addQuestion(event)" asp-page-handler="AddQuest">Добавить вопрос</button>
    </form>
    <form method="post" id="saveTest">
        <button class="btn btn-primary" type="submit" onclick="saveTest(event)" asp-page-handler="saveTest">Сохранить тест</button>
    </form>
    <script>
        let answerIndex = 1;
        let testIsNew = "testIsNew";
        let testIsContinued = "testIsContinued";
        let isNewTest = localStorage.getItem("isNewTest") || testIsNew;
        let questionIndex = isNewTest === testIsContinued ? localStorage.getItem("questionIndex") : "1";
        document.getElementById("questionIndex").textContent = questionIndex;

        function addQuestion(event) {
            event.preventDefault();
            questionIndex++;
            console.log('questionIndex', questionIndex);
            localStorage.setItem("questionIndex", questionIndex);
            localStorage.setItem("isNewTest", testIsContinued);
            document.getElementById("questionIndex").textContent = questionIndex;
            document.getElementById("questionForm").submit();
        }
        function saveTest(event) {
            event.preventDefault();
            localStorage.setItem("isNewTest", testIsNew);
            document.getElementById("saveTest").submit();
        }
        function addAnswer() {
            if (answerIndex < 4) {

                var answersContainer = document.getElementById("answersContainer");

                var answerDiv = document.createElement("div");
                answerDiv.classList.add("answer");

                var answerLabel = document.createElement("label");
                answerLabel.textContent = "Ответ " + (answerIndex + 1) + ":";

                var answerInput = document.createElement("input");
                answerInput.type = "text";
                answerInput.name = "Question.Answers[" + answerIndex + "].Text";
                answerInput.required = true;

                var correctInput = document.createElement("input");
                correctInput.type = "checkbox";
                correctInput.name = "Question.Answers[" + answerIndex + "].IsCorrect";

                var correctLabel = document.createElement("label");
                correctLabel.textContent = "Правильный ответ";
                correctLabel.setAttribute("for", "correct" + (answerIndex + 1));

                answerDiv.appendChild(answerLabel);
                answerDiv.appendChild(answerInput);
                answerDiv.appendChild(correctInput);
                answerDiv.appendChild(correctLabel);

                answersContainer.appendChild(answerDiv);

                answerIndex++;


            } else {
                alert("Максимальное колличество ответов - 4");
            }
        }
    </script>
}
else
{
    <p>У вас нет прав создавать тесты</p>
}