@page
@model WebAppDiplomTST.Pages.Tests.AddQuestionModel
@{
    ViewData["Title"] = "Создание теста";
}
@using Microsoft.AspNetCore.Identity
@using WebAppDiplomTST.Data.Identity
@using WebAppDiplomTST.Data.Tests
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc

@inject SignInManager<ApplicationUser> SignlnManager

@if (SignlnManager.IsSignedIn(User))
{
    <h1>Создание вопросов - Вопрос номер <span>@ViewData["Counter"]</span></h1>
    <form method="post" >
        <div class="form-container">
            <label asp-for="Question.Text">Текст вопроса:</label>
            <input type="text" asp-for="Question.Text" required/>
            <span asp-validation-for="Question.Text" class="text-danger"></span>
        </div>
        <div id="answersContainer" class="form-container">
            <div class="answer">
                <label asp-for="answerText[0]">Ответ 1:</label>
                <input type="text" asp-for="answerText[0]" class="form-control" required/>
                <span asp-validation-for="answerText[0]" class="text-danger"></span>
                <input type="checkbox" id="correct1" asp-for="checkCorrectAnswer" />
                <label for="correct1">Правильный ответ</label>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" onclick="addAnswer()"  asp-page-handler="AddAnswer">Добавить ответ</button>


        <button class="btn btn-primary" type="submit" asp-page-handler="AddQuest">Добавить вопрос</button>


    </form>
    <form method="post" id="saveTest">
        <button class="btn btn-primary" type="submit" onclick="saveTest()" asp-page-handler="SaveTest">Сохранить тест</button>
    </form>
    <script>
        let answerIndex = 1;

        let testIsContinued = "testIsContinued";
        let isNewTest = localStorage.getItem("isNewTest") || testIsNew;
        console.log(localStorage.getItem("isNewTest"));
        let questionIndex = isNewTest === testIsContinued ? localStorage.getItem("questionIndex") : "1";
        document.getElementById("questionIndex").textContent = questionIndex;

        function addQuestion(event) {
            event.preventDefault();
            questionIndex++;
            console.log('questionIndex', questionIndex);
            localStorage.setItem("questionIndex", questionIndex);
            localStorage.setItem("isNewTest", testIsContinued);
            document.getElementById("questionIndex").textContent = questionIndex;
            document.getElementById("questionForm").submit();
        }
        function saveTest(event) {
            event.preventDefault();
            localStorage.setItem("isNewTest", testIsNew);
            document.getElementById("saveTest").submit();
        }
        function addAnswer() {
            if (answerIndex < 4) {

                var answersContainer = document.getElementById("answersContainer");

                var answerDiv = document.createElement("div");
                answerDiv.classList.add("answer");

                var answerLabel = document.createElement("label");
                answerLabel.textContent = "Ответ " + (answerIndex + 1) + ":";

                var answerInput = document.createElement("input");
                answerInput.type = "text";
                answerInput.name = "answerText[" + answerIndex + "]";;
                answerInput.required = true;

                var correctInput = document.createElement("input");
                correctInput.type = "checkbox";
                correctInput.name = "checkCorrectAnswer";

                var correctLabel = document.createElement("label");
                correctLabel.textContent = "Правильный ответ";
                correctLabel.setAttribute("for", "correct" + (answerIndex + 1));

                answerDiv.appendChild(answerLabel);
                answerDiv.appendChild(answerInput);
                answerDiv.appendChild(correctInput);
                answerDiv.appendChild(correctLabel);

                answersContainer.appendChild(answerDiv);

                answerIndex++;
            } else {
                alert("Максимальное колличество ответов - 4");
            }
        }
    </script>
}
else
{
    <p>У вас нет прав создавать тесты</p>
}