@page
@model WebAppDiplomTST.Pages.Tests.PassingTestModel
@{
    var combinedModel = ViewData["CombinedModel"] as CombinedModel;
}
<form method="post">

    @if (combinedModel != null)
    {
        <h1>Тест: @combinedModel.Test.Test</h1>

        <h2>Вопрос:</h2>
        @foreach (var question in combinedModel.Test.Questions)
        {
            <h2>@question.Text</h2>
            @foreach (var answer in question.Answers)
            {
                <div>
                    <label style="font-size: 36px;">
                        <span>@answer.Text</span>
                        <input type="checkbox" name="selectedAnswers" value="@answer.Id" />
                    </label>
                </div>
            }
        }
        <button class="btn btn-primary" type="submit">Отправить ответы на проверку</button>
    }
</form>