@page
@model WebAppDiplomTST.Pages.Tests.ResultsModel

<h1>Результаты теста</h1>

<p>Вы выбрали правильных ответов:</p>
<ul>
    <li>@Model.correctAnswersCount правильных ответа из @Model.countAllQuestion</li>
</ul>
